@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for accordion markers and scrollbar */
details > summary { list-style: none; }
details > summary::-webkit-details-marker { display: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Staggered Animation Delays */
.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
.delay-400 { animation-delay: 400ms; }